name: Lint codebase

on:
  push:
    branches: "**"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches: "**"

jobs:
  lint:
    name: Lint codebase
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup pnpm (version 8)
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Setup Node.js (version 20)
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - name: Authenticate to GitHub Packages (npm)
        uses: ./.github/actions/auth-github-packages/

      - name: Install dependencies
        run: pnpm install

      - name: Lint codebase
        run: pnpm run lint:check
